version: 2.1

jobs:
  build:
    docker:
       - image: jruby:9.3
    steps:
      - checkout
      - run: npm i
      - run: npm run lint
  test:
    docker:
       - image: jruby:9.3
    steps:
      - checkout
      - run: npm i
      - run: npm run test
  analyze:
    docker:
       - image: jruby:9.3
    steps:
      - checkout
      - run: npm audit

workflows:
  my_workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      - analyze:
          requires:
            - test
